<!DOCTYPE html>

<header>
  <div class="header-logo">
    <a href="/">DDR 課題曲ジェネレータ</a>
  </div>
  <!--
  <ul class="header-menus">
    <li>
      <a href="/about">about</a>
    </li>
    <li>
      <a href="/help">help<a>
    </li>
  </ul>
  -->
  <%= javascript_include_tag('home.js') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</header>


<div class="main top-main">
  <div class="top-message">

    <div>
      DDR の課題曲をランダムに出力します。 <br>
      難易度は 9~19 に対応しています。現在はSPのみの対応です。 <br>
      下のテキストボックスに難易度を入力して、生成ボタンを押してください。<br>
      生成ボタン押したあと、処理に時間がかかる場合があります。
    </div>

    <div>
      <p>
        1曲目
        <input type="number" id="1st" size="20">
        <div id="1stError" style="color:red">
        </div>
      </p>
      <p>
        2曲目
        <input type="number" id="2nd" size="20">
        <div id="2ndError" style="color:red">
        </div>
      </p>
      <p>
        3曲目
        <input type="number" id="3rd" size="20">
        <div id="3rdError" style="color:red">
        </div>
        
      </p>
        <p>
        EXTRA
        <input type="number" id="ex" size="20">
        <div id="exError" style="color:red">
        </div>
      </p>
      <p>
        重複あり
        <input type="checkbox" value="重複あり" id="overlap">
      </p>
      <p>
        <input class="button" type="button" value="生成" onclick="search_song_array();">
      </p>
    </div>

    <div>
      <p id="pic1"> [1曲目] </p>
      <p id="pic2"> [2曲目] </p>
      <p id="pic3"> [3曲目] </p>
      <p id="pic4"> [EXTRA] </p>
    </div>

    <!--
    <script>
      function alert_msg() {
        var message = document.getElementById('msg').value;
        alert(message);
      }
    </script>
    -->
  </div>
</div>