<!DOCTYPE html>

<header>
  <div class="header-logo">
    <a href="/">DDR 課題曲ジェネレータ</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">使い方</a>
    </li>
  </ul>
</header>


<div class="main top-main">
  <div class="top-message">
    <h2>説明</h2>
    <a href="/about">about</a>
    <a href="/help">help</a>
  </div>
</div>