<!DOCTYPE html>

<header>
  <div class="header-logo">
    <a href="/">DDR 課題曲ジェネレータ</a>
  </div>
  <!--
  <ul class="header-menus">
    <li>
      <a href="/about">about</a>
    </li>
    <li>
      <a href="/help">help<a>
    </li>
  </ul>
  -->
</header>

<!--
<script src="home.js"></script>
-->

<%= javascript_include_tag('home.js') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div class="main top-main">
  <div class="top-message">

    <h2>説明</h2>

    <div>
      <p>
        1曲目
        <input type="number" id="1st" size="20">
      </p>
      <p>
        2曲目
        <input type="number" id="2nd" size="20">
      </p>
      <p>
        3曲目
        <input type="number" id="3rd" size="20">
      </p>
        <p>
        EXTRA
        <input type="number" id="ex" size="20">
      </p>
      <p>
      重複あり
        <input type="checkbox" value="重複あり" id="overlap">
      </p>
      <p>
        <input class="button" type="button" value="生成" onclick="search_song();">
      </p>
    </div>

    <div>
      <p id="pic1"> 1曲目 </p>
      <p id="pic2"> 2曲目 </p>
      <p id="pic3"> 3曲目 </p>
      <p id="pic4"> EXTRA STAGE </p>
    </div>

    <!--
    <script>
      function alert_msg() {
        var message = document.getElementById('msg').value;
        alert(message);
      }
    </script>
    -->
  </div>
</div>