<!DOCTYPE html>

<header>
  <div class="header-logo">
    <a href="/">DDR 課題曲ジェネレータ</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">使い方</a>
    </li>
  </ul>
</header>


<div class="main top-main">
  <div class="top-message">
    <h2>説明</h2>
    <!--
    <%= form_tag('/', method: :post) do %> 
      <input type="text" name="name"> 
      <input type="submit"> 
    <% end %>
    -->
    <input type="number" id="msg" size="20">
    <input class="button" type="button" value="生成" onclick="alert_msg()">
    <!-->
    <script>
      function alert_msg() {
        var message = document.getElementById('msg').value;
        alert(message);
      }
    </script>
    -->
    <a href="/about">about</a>
    <a href="/help">help</a>
  </div>
</div>

<script src="home.js">